<<<<<<< HEAD
<h1>Artist Form</h1>

<%= form_for(@artist) do |f| %>
  <%=f.label :name%>
  <%= f.text_field :name %><br>
  <%=f.label :bio%>
  <%= f.text_area :bio %><br>
  <%= f.submit %>
<% end %>
=======
<h1>Artists#edit</h1>
<p>Find me in app/views/artists/edit.html.erb</p>
>>>>>>> db49a0f39f3fd2dbbd64d814fe3a2f0833337c97
