<h1>Artists#new</h1>
<p>Find me in app/views/artists/new.html.erb</p>
<<<<<<< HEAD
<%=form_for(@artist) do |f|%>
<%= f.label :name%>
<%= f.text_field :name%>
<%= f.label :bio%>
<%= f.text_area :bio%>
<%=f.submit%>
<%end%>
=======
>>>>>>> db49a0f39f3fd2dbbd64d814fe3a2f0833337c97
